.main-tables-container {
  display: flex;
  flex-wrap: wrap;
  width: 930px;
  margin: 0 auto;
  margin-top: 50px;
}
.product-cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 930px;
  margin: 0 auto;
}
.plans-container--slider {
  justify-content: center;
}
.plans-container--slider {
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
}
.main-fees-table {
  margin-top: 0;
}
